{% extends 'base.html.twig' %}

{% block title %}SortirAJMS | Modification mot de passe{% endblock %}


{% block main %}
    <h1>Modifier votre mot de passe</h1>
    <br>
    {% for flash_message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}
    <div class="changePasswordForm">
        {{ form_start(changePasswordForm) }}
            {{ form_row(changePasswordForm.old_password) }}
            {{ form_row(changePasswordForm.new_password) }}
            <br>
            {{ form_widget(changePasswordForm.submit) }}
            <a class="btn btn-dark" href="{{ path('profile_edit') }}">Annuler</a>
        {{ form_end(changePasswordForm) }}
    </div>



{% endblock %}
